<div class="container" *ngIf="webpage">
    <div class="row">
        <div class="col-lg-12">
            <h4>{{ webpage.title || webpage.url }}</h4>
            <ul>
                <li *ngFor="let followingWebpage of webpage.followingWebpages">
                    <a href="{{followingWebpage.url}}" target="_blank"><img [src]="unsafeImageUrl(followingWebpage.faviconUrl)" *ngIf="followingWebpage.faviconUrl" width="16" height="16"> {{ followingWebpage.title || followingWebpage.url }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
