h4 {
    line-height: inherit;
    margin: 1em 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.options {
    position: relative;

    ul {
        list-style: none;
        padding: 0;
        position: absolute;
        top: 0;
        transition: opacity .1s ease-in-out;

        li {
            margin-bottom: 0.5em;

            hr {
                margin: 1em 0;
            }
        }
    }
}
